<!DOCTYPE html>
<html lang="en-us">


  <head>
      <meta charset="UTF-8">
      <title>RestaWant</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#157878">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cayman.css') }}">

      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
      <link src="../Gruntfile.js"></link>
  </head>

  <body>
    <section class="page-header">
      
    <h1 class="knockout">RestaWant</h1>
      <h2 class="project-tagline">A way to settle the long disputed restaurant argument.</h2>
      <a href="https://github.com/ksheikMav/HACKRPI-RandomRestaurantFinder" class="btn">View on GitHub</a>
      </div>
    </section>

    <section class="main-content">
  
      <a id="user-content-header-2" class="anchor" href="#header-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>The issue we solve.</h2>

      <blockquote>
      <p>"For consumers, choosing where to eat is a complex decision." -restaurant.org </p>
      </blockquote>



      <p> Try it out! </p>

      <!--  APPLICATION WIDGET  -->
       <div class= "widget">
          <form class="form-signin" action="/testing" method="post" role="form">
            <style>
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

div.hidden{
  display: none
}

</style>
</head>
<body>
<div class="container" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<script>
function myFunction(x) {
    x.classList.toggle("change");
    var menuBox = document.getElementById('menu-box');    
  if(menuBox.style.display == "block") { // if is menuBox displayed, hide it
    menuBox.style.display = "none";
  }
  else { // if is menuBox hidden, display it
    menuBox.style.display = "block";
  }
}
</script>

<p id="menu" onclick="toggleMenu()"></p>
<div id="menu-box" class="hidden">
<p>Distance</p>
  <input id = "distance" value = "distance" type="range" min="1000" max="40000" value="0" step="1000" onchange="showValue1(this.value)" />
  <span id="range1">10000</span>

 <script type="text/javascript">
  function showValue1(newValue)
  {
    document.getElementById("range1").innerHTML=newValue;
  }
  </script>

  <p>Rating</p>
  <div class="stars">
    <input class="star star-5" id="star-5" type="radio" name="star"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star"/>
    <label class="star star-1" for="star-1"></label>
    </div>
  <script type="text/javascript">
  function showValue(newValue)
  {
    document.getElementById("range").innerHTML=newValue;
  }
  </script>

  <p>Price Range</p>
  <input id = "inner-widget" value = "prices" type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)" />
  <span id="range">10</span>

  <p>Delivery?</p>
  <input type="checkbox" value="Delivery"><br>
  <p></p>

   <input type="restaurant" name="restaurant" id="restaurant" class="form-control" placeholder="Type of Food" required autofocus>
</div>

        <button type="button" id = "inner-widget" class="button-link">Find Eatery</button>

        <!-- end widget -->
        </form>
      </div>

      <h2 id ="Name"> </h2>
      <h2 id ="Rating"> </h2>
      <h2 id ="Desc"> </h2>

      <h4>
      <a id="user-content-header-4" class="anchor" href="#header-4" aria-hidden="true"><span class="octicon octicon-link"></span></a>Contributors</h4>

      <ul class="task-list">
      <li><a href="https://github.com/ksheikMav">Ryan Sheik</a></li>
      <li><a href="https://github.com/jko0531">Jason Ko</a></li>
      <li><a href="https://github.com/NONstiky">Marcos Banchik</a></li>
      </ul>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/jasonlong/cayman-theme">Cayman</a> is maintained by <a href="https://github.com/jasonlong">jasonlong</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  </body>
</html>
